<!doctype html>
<html data-theme="dark" lang="en">
  <head>
    <title>Juez GUAPA</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link defer rel="stylesheet" href="/prod3.css" />
    <script src="https://unpkg.com/htmx.org@2.0.0-alpha1/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx-ext-remove-me@2.0.0/remove-me.js"></script>
    <script src="https://unpkg.com/htmx-ext-response-targets@2.0.0/response-targets.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/sse.js"></script>
    <script src="/components2.js" type="module"></script>
  </head>
  <body class="flex flex-col h-full bg-base-200">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
      integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"
      integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js"
      integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk"
      crossorigin="anonymous"
    ></script>
    <script>

      function toggleMenu() {
        document.querySelector('.aside-global').classList.toggle('hidden-aside')
        document.querySelectorAll('.aside-item').forEach((item) => {
          console.log(item)
          item.classList.toggle('btn-ghost')
          item.classList.toggle('btn')
        })
        localStorage.setItem(
          'aside-global',
          document.querySelector('.aside-global').classList.contains('hidden-aside')
            ? 'hidden'
            : 'visible',
        )
      }
      document.addEventListener('DOMContentLoaded', function () {
        renderMathInElement(document.body, {
          delimiters: [
            { left: '$$', right: '$$', display: true },
            { left: '$', right: '$', display: false },
            { left: '\\(', right: '\\)', display: false },
            { left: '\\[', right: '\\]', display: true },
          ],
          // • rendering keys, e.g.:
          throwOnError: false,
        })

        // initially navbar comes open from the server
        if (localStorage.getItem('aside-global') === 'hidden') {
          toggleMenu()
        }
      })
      document.addEventListener('htmx:afterSwap', function (event) {
        renderMathInElement(document.body, {
          delimiters: [
            { left: '$$', right: '$$', display: true },
            { left: '$', right: '$', display: false },
            { left: '\\(', right: '\\)', display: false },
            { left: '\\[', right: '\\]', display: true },
          ],
          // • rendering keys, e.g.:
          throwOnError: false,
        })
      })
      // add event listener on window DOMContentLoaded
    </script>
    <script>
      function convertHTMLValueToJSON(htmlElement) {
        if (!htmlElement.type) return htmlElement.innerText

        const type = htmlElement.type
        if (type == 'checkbox') {
          return htmlElement.value === 'true' ? true : false
        }

        if (type == 'number') {
          return htmlElement.valueAsNumber
        }
        return htmlElement.value
      }
      function inflate(htmlForm) {
        let parameters = {}
        let map = {}
        let elements = Array.from(htmlForm.elements).concat(
          Array.from(htmlForm.querySelectorAll('[form=' + htmlForm.id + ']')),
        )

        elements.forEach((elem) => {
          if (elem.type === 'submit' || elem.type === 'button') return
          console.log(elem)
          const name = elem.name || elem.getAttribute('name')
          if (elem.getAttribute('json-group')) {
            let newName = name.split('.').slice(0, -1).join('.')
            let property = name.split('.').slice(-1)
            map[newName] = map[newName] || {}
            map[newName][elem.getAttribute('json-group')] =
              map[newName][elem.getAttribute('json-group')] || {}
            map[newName][elem.getAttribute('json-group')][property] =
              convertHTMLValueToJSON(elem)
          } else {
            parameters[name] = convertHTMLValueToJSON(elem)
          }
        })
        Object.entries(map).forEach(([key, value]) => {
          parameters[key] = Object.values(value)
        })
        console.log(parameters)
        let arr = Object.entries(parameters)
        let new_obj = {}
        for (let idx = 0; idx < arr.length; idx++) {
          let split = arr[idx][0].split('.')
          // console.log(JSON.stringify(arr[idx]))
          let tmp = new_obj
          // a b
          // a c
          for (let lvl = 0; lvl < split.length - 1; lvl++) {
            tmp[split[lvl]] = tmp[split[lvl]] || {}
            tmp = tmp[split[lvl]]
          }
          tmp[split[split.length - 1]] = arr[idx][1]
        }
        console.log(new_obj)
        return new_obj
      }

      htmx.defineExtension('submitjson', {
        onEvent: function (name, evt) {
          if (name === 'htmx:configRequest') {
            evt.detail.headers['Content-Type'] = 'application/json'
          }
        },
        encodeParameters: function (xhr, parameters, elt) {
          console.log({ xhr, parameters, elt })
          xhr.overrideMimeType('text/json') // override default mime type
          const body = inflate(elt)
          console.log(JSON.stringify(body))
          return JSON.stringify(body)
        },
      })
    </script>
    {{ navbar }}
    <div class="low-part w-full flex h-full flex-1">
      <div class="aside-global bg-base-200 flex flex-col">
        <ul class="flex flex-col justify-center items-start p-3 gap-[0.5rem]">
          <li>
            <div
              class="btn btn-ghost p-0 text-base flex flex-nowrap justify-center items-center gap-[1rem] aside-item"
            >
              <svg
                class="h-7 w-7 svg-icon"
                viewBox="0 0 32 32"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M22.994 28.996h-14.060c-0.553 0-1 0.448-1 1s0.447 1 1 1h14.060c0.552 0 1-0.448 1-1s-0.447-1-1-1zM31.791 3.801c-0.095-0.465-0.505-0.799-0.979-0.799h-4.895v-0.998c0-0.552-0.448-1-1-1h-17.985c-0.553 0-1 0.448-1 1v0.998h-4.743c-0.474 0-0.885 0.334-0.98 0.799-0.029 0.144-0.7 3.648 1.247 6.036 1.12 1.373 2.831 2.091 5.078 2.155 1.281 3.786 4.502 6.59 8.381 7.008v6.966h-2.993c-0.553 0-1 0.448-1 1s0.447 1 1 1h8.084c0.552 0 1-0.448 1-1s-0.448-1-1-1h-3.091v-6.965c3.886-0.41 7.114-3.213 8.398-7.003 2.323-0.034 4.085-0.758 5.231-2.162 1.947-2.388 1.276-5.891 1.247-6.036zM3.013 8.58c-0.885-1.078-0.975-2.669-0.929-3.578h3.849v3.376c0 0.54 0.050 1.068 0.123 1.587-1.365-0.127-2.389-0.588-3.042-1.385zM23.917 8.378c0 4.784-3.585 8.677-7.991 8.677-4.408 0-7.994-3.893-7.994-8.677v-5.374h15.986v5.374h-0zM28.988 8.58c-0.677 0.826-1.751 1.296-3.196 1.402 0.075-0.524 0.125-1.057 0.125-1.604v-3.376h4c0.045 0.91-0.044 2.5-0.93 3.578z"
                ></path>
              </svg>
                  <span><a href="/contests">Contests</a></span>
            </div>
          </li>
          <li>
            <div
              class="btn btn-ghost text-base flex p-0 flex-nowrap justify-center items-center gap-[1rem] aside-item"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-7 w-7 svg-icon"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M4.5 6L5.25 5.25H18.75L19.5 6V18L18.75 18.75H5.25L4.5 18V6ZM6 6.75V17.25H18V6.75H6ZM10.1894 12L7.71973 9.5303L8.78039 8.46964L12.3107 12L8.78039 15.5303L7.71973 14.4696L10.1894 12ZM12 15.75H15.75V14.25H12V15.75Z"
                />
              </svg>
                  <span><a href="/problems">Problemset</a></span>
            </div>
          </li>
        </ul>
      </div>

      <div
        class="content flex-1 p-3 m-4 mt-0"
        style="
          border-radius: 10px;
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.1);
          background-color: var(--primary-color);
        "
      >
        {{ content }} {% block experimental %} {% endblock %}
        <footer style="width: 100%; position: fixed; top: 90vh">
          <div
            hx-ext="remove-me"
            id="notifications"
            class="notifications"
          ></div>
        </footer>
      </div>
    </div>
  </body>
</html>
