<script>

class SSEController {
  // chat gpt'ed please don't blame me
  constructor(url, monitorEvent) {
    this.url = url
    this.monitorEvent = monitorEvent
  }

  start({
    onOpen = () => {},
    onMessage = () => {},
    onError = () => {},
    onEvent = () => {},
  }) {
    if (!this.url) {
      console.error('SSE URL is not provided.')
      return
    }

    // Create an EventSource connection
    this.eventSource = new EventSource(this.url)
    if(this.monitorEvent) {
    // Add basic listeners
        this.eventSource.addEventListener(this.monitorEvent, (event) => {
            onEvent(event)
        })
    }

    this.eventSource.onmessage = (event) => {
        onMessage(event)
    }

    this.eventSource.onerror = ((event) => {
      onError(event)
      console.error('SSE error:', event)
      // Close the connection on error
      if (this.eventSource.readyState === EventSource.CLOSED) {
        console.log('SSE connection closed due to an error.')
        this.close()
      }
    })

    // Close the connection when the page is about to unload
    window.addEventListener('beforeunload', this.close.bind(this))
  }

  close() {
    if (this.eventSource) {
      this.eventSource.close()
      console.log('SSE connection closed.')
      this.eventSource = null // Clean up reference
    }
  }
}
</script>
<script>
    const contestTabs = ["problem", "scoreboard", "contest", "submit", "clarifications","submissions"];
    window.addEventListener("hashchange", (event) => {
        let navContest = document.getElementById("contest-navbar");
        console.log(window.location.hash, navContest);
        let hash = window.location.hash.substring(1);
        navContest.setAttribute('active-tab', contestTabs.includes(hash) ? hash : "problem");
        if(contestTabs.includes(hash)) {
            navContest.setAttribute('active-tab', hash);
        }else {
            navContest.setAttribute('active-tab', "problem");
            window.location.hash = "problem";
        }
    });
    window.onload = () => {
        let navContest = document.getElementById("contest-navbar");
        let hash = window.location.hash.substring(1);
        if(contestTabs.includes(hash)) {
            navContest.setAttribute('active-tab', hash);
        }else {
            navContest.setAttribute('active-tab', "problem");
            window.location.hash = "problem";
        }
        const clickableProblems = document.querySelectorAll(".problem-clickable");
        clickableProblems.forEach((problem) => {
            problem.addEventListener("click", (event) => {
                let problemId = problem.getAttribute("problem");
                let problemElementTrigger = document.getElementById(`trigger-problem-${problemId}`);
                let problemElement = document.getElementById(`problem-contest`);
                htmx.trigger(problemElementTrigger, "fetch-problem");
                //window.location.hash = `problem-${problemId}`;
            });
        });
        let problemElement = document.getElementById(`trigger-problem-A`);
        htmx.trigger(problemElement, "fetch-problem");
        
        //document.body.addEventListener('htmx:sseBeforeMessage', function (e) {
        //    console.log('SSE closed', e.detail);
        //});

        //const sse = new SSEController( '/api/contest/live/scoreboard/{{contest_id}}', 'contest_{{contest_id}}')
        //sse.start({onEvent: (event) => {
        //    console.log(event);
        //    htmx.trigger(document.getElementById("scoreboard-fetch"), "revealed");
        //}});
    }
</script>
<script>
    const startTimeInMs = {{ start_time }};
    const endTimeInMs = {{ end_time }};
    const diffTime = endTimeInMs - startTimeInMs
    const interval = setInterval(() => {
        const currentTimeInMs = new Date().getTime()
        let remainingTimeInMs = currentTimeInMs - startTimeInMs
        const progress = (remainingTimeInMs / diffTime) * 100
        
        remainingTimeInMs = endTimeInMs - currentTimeInMs
        const remainingTimeInSeconds = Math.floor(remainingTimeInMs / 1000)
        const remainingTimeInMinutes = Math.floor(remainingTimeInSeconds / 60)
        const remainingTimeInHours = Math.floor(remainingTimeInMinutes / 60)
        const remainingTimeInDays = Math.floor(remainingTimeInHours / 24)
        const seconds = remainingTimeInSeconds % 60
        const minutes = remainingTimeInMinutes % 60
        const hours = remainingTimeInHours % 24
        const days = remainingTimeInDays

        document.querySelector('#progress').value = progress
        document.querySelector('#hours').style = `--value: ${hours};`
        document.querySelector('#minutes').style = `--value: ${minutes};`
        document.querySelector('#seconds').style = `--value: ${seconds};`
        if(days > 0) document.querySelector('#days').style = `--value: ${days};`
        else document.querySelector('#days').style = `display: none;`
        if( 
            currentTimeInMs > endTimeInMs
            || currentTimeInMs < startTimeInMs
        ) {
            clearInterval(interval)
            document.querySelector('#contest-status').innerHTML = "Contest has ended"
        }
    },1000)
</script>
<body class="flex flex-col h-full">
    <!-- <div class="navbar bg-base-200 flex w-full justify-between"> -->

    <div class="flex  p-4 pt-0 pb-[10px] items-center gap-10 pl-[20px]">
        <strong class="flex-shrink-0" style="color: var(--font-tertiary-color);" >
            {{ name }}
        </strong>
        <div 
            id="contest-status"
            class="w-full flex items-center gap-5">
            <progress id="progress" class="progress progress-primary w-full" value="8" max="100"></progress>
            <div>
                <span class="countdown font-mono text-l">
                    <span id="days" style="--value:10;"></span>
                    :
                    <span id="hours" style="--value:10;"></span>
                    :
                    <span id="minutes" style="--value:24;"></span>
                    :
                    <span id="seconds" style="--value:${counter};"></span>
                  </span>
            </div>
        </div>
    </div>
    {% for idx in (0..problems.len()) %}
        <div 
            hx-swap="innerHTML"
            id="trigger-problem-{{crate::ALPHABET[idx]}}" 
            hx-get="/api/contest/problem/{{contest_id}}/{{crate::ALPHABET[idx]}}"
            hx-trigger="fetch-problem" 
            hx-target="#problem-contest"></div>
    {% endfor %}
    <div class="flex flex-col flex-1">
        <cmp-tabs 
            is-contest="true"
            id="contest-navbar" 
            background="transparent"
            class="flex-1"
        >
             <ul slot="aside">
                 {% for problem in problems %}
                    <li
                        problem="{{crate::ALPHABET[loop.index - 1]}}"
                        class="problem-clickable p-4 flex"
                        style="border-bottom: 1px solid var(--border-color);"
                    >
                    <a href="#"><strong>{{crate::ALPHABET[loop.index - 1]}} - {{problem.name}}</strong></a>
                    </li>
                 {% endfor %}
            </ul>
            <cmp-tab id="problem-contest" name="problem" title="Problems" active="true">
                Select a problem :D
            </cmp-tab>
            <cmp-tab 
                event="scoreboardShown"
                name="scoreboard" title="Scoreboard" active="false">
                <div 
                    id="scoreboard-fetch"
                    hx-get="/api/contest/scoreboard/{{contest_id}}"
                    target="#scoreboard"
                    hx-trigger="scoreboardShown from:document,load"
                >
                </div>
                <!--</div>-->
                <div class="w-full p-5">
                    <table id="scoreboard" class="scoreboard">
                    </table>
                </div>
            </cmp-tab>
            <cmp-tab name="contest" title="Contest" active="false">
                <div class="hero">
                    <div class="hero-content flex-col lg:flex-row">
                        <div class="w-[900px]">
                            <cmp-title text="{{ name }}"></cmp-title>
                            <cmp-problem-block title="Information">
                                <p slot="content">
                                {{information|markdown}}
                                </p>
                            </cmp-problem-block>
                            <cmp-problem-block title="Reglas">
                                <p slot="content">
                                {{ rules }}
                                </p>
                            </cmp-problem-block>
                        </div>
                    </div>
                </div>
            </cmp-tab>
            <cmp-tab name="submit" title="Submit" active="false">
                <div class="flex justify-center h-full flex-1">
                    <div class="w-[900px]">
                        <cmp-submit 
                            contest-id="{{ contest_id }}"
                            problem-id="1" 
                            contest-range="{{ problems.len() }}" 
                            contest-problems="{{ problems_order }}"
                            contest="true"></cmp-submit>
                    </div>
                </div>
            </cmp-tab>
            <cmp-tab name="submissions" title="Submissions" active="false"
                event="submissionsShown"
                > 
                <div 
                    id="submissions-fetch"
                    hx-get="/api/contest/submissions/{{contest_id}}"
                    target="#submissions-contest"
                    hx-trigger="submissionsShown from:document,load"
                >
                </div>
                <!--</div>-->
                <div class="w-full p-5">
                    <div id="submissions-contest" class="scoreboard">
                    </div>
                </div>
            </cmp-tab>
            <cmp-tab name="clarifications" title="Clarifications" active="false"> </cmp-tab>
        </cmp-tabs>
    </div>
</body>
