<table>
    <tr>
        <th>Submission id</th>
        <th>Lenguaje</th>
        <th>Status</th>
        <th>Execution time</th>
        <th>Date</th>
    </tr>
    {% if submissions.len() == 0 %}
        <tr>
            <td colspan="5">No submissions</td>
        </tr>
    {% else %}
        {% for submission in submissions %}
        <tr>
            <td>
                <a class="underline">{{submission.submission_id}}</a>
            </td>
            <td>{{submission.language}}</td>
            <td class=
                {% if submission.status == "accepted" %}
                    "acc"
                {% else if submission.status == "wrong_answer" %}
                    "wa"
                {% else if submission.status == "pending" %}
                    "gray"
                {% else %}
                    "warn"
                {% endif %}
                >
                {% if submission.status == "accepted" %}
                    Accepted
                {% else if submission.status == "wrong_answer" %}
                    Wrong Answer
                {% else if submission.status == "pending" %}
                    Pending
                {% else %}
                    {{ submission.status }}
                {% endif %}
            </td>
            <td>{{submission.execution_time}}s</td>
            <td>{{submission.submitted_at}}</td>
        </tr>
        {% endfor %}
    {% endif %}
</table>

